<html>
  
  <body>
    <ul>
  <% messages.forEach(function(msg) { %>
            <li>
                <strong><%= msg.user_name %>:</strong> <%= msg.content %>
                <br>
                <small>(Added: <%= msg.created_at.toLocaleString() %>)</small>
            </li>
            <br>
        <% }); %>
</ul>
  </body>
</html>